*{margin:0; padding:0}
.clearfix:after{content:"";display:block; height:0;clear:both}

h1, h2 {
    text-align: center;
}

h2{
    padding-bottom: 50px;
}

.main-wrapper{
    width: 600px;
    margin: 0 auto;
}

.project-inner{
    width: 100%;
    padding-bottom: 30px;    
}

.project-title-wrapper{
    width: 100%;
    background-color: aqua;
    cursor: pointer;
}

.project-title-wrapper h3{
    color: white;
    float: left;
    padding: 10px 0px;    
}
.icon-top{
    float: left;
    padding: 10px 15px;
}
.delete-top{
    float: right;
    padding: 14px 15px;    
}
.edit-top{
    float: right;
    padding: 14px 0px;    
}
.add-task-wrapper{
    width: 100%;
    background-color: aliceblue;
}
.plus-task{
    float: left;
    padding: 10px 15px;    
}
.add-task{
    float: right;
    padding: 5px 30px;
    margin: 5px 10px;
    background-color: darkseagreen;
}
.add-task-wrapper input[type=text]{
    padding: 5px 0px;
    margin: 8px 0px;
    float: left;
}
.task-inner{
    width: 100%;
    padding: 6px 0px;
}

.task-state{
    float: left;
    width: 10%;
    box-sizing: border-box;
}
.task-description{
    float: left;    
    width: 69%;
    box-sizing: border-box;
    color: rgb(84, 84, 84);
}
.test-edit-description-input{
    display: none;
}
.task-edit-tool-bar{
    float: left;
    width: 21%;
    box-sizing: border-box;
}
.task-manipulation{
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 12px 0px;
    display: none;
}
.task-move-up{
    background: url(../img/move.png) no-repeat 15px 5px;
}
.task-edit{
    background: url(../img/edit.png) no-repeat 15px 5px;
}
.task-delete{
    background: url(../img/delete.png) no-repeat 15px 5px;
}

.task-inner:hover .task-manipulation{
    display: block;
}
.task-inner:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
.task-list-wrapper{
    border: 1px solid#c5c5c5;
    border-radius: 0px 0px 20px 20px
}

.task-state-input{
    disabled="disabled";
}